@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 3";
}

@model GradeCalculatorModel;

<!DOCTYPE html>
<html>
<body>
    <h4>Grade Calculator</h4>
    <p>Enter your percentage score for each category without a percentage or decimal. For example, 40% or .4 would be entered as "40".</p>
    <form method="post">
        <label>Assignments</label>
        <input id="pctAssignments" asp-for="Assignments" /><br />
        <label>Group Project</label>
        <input id="pctGroupProject" asp-for="GroupProject" /><br />
        <label>Quizzes</label>
        <input id="pctQuizzes" asp-for="Quizzes" /><br />
        <label>Exams</label>
        <input id="pctExams" asp-for="Exams" /><br />
        <label>INTEX</label>
        <input id="pctINTEX" asp-for="INTEX" /><br />
        <button id="btnCalculate" type="submit" onclick="addNumbers()">Calculate</button>
        <div asp-validation-summary="All"></div>
    </form>
</body>
</html>
