@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 3";
}

<!DOCTYPE html>
<html>
<body>
    <h1>Nate Chandler</h1>
    <img src="img/IMG_1271_Original.jpg" />
    <br />
    <p>
        Here's a picture of me hanging out with my nephew at Disneyland (two of my favorite things). In addition to Disneyland and my nephews,
        I also love learning new things. I hope that through IS 413 I can learn more about ASP.Net and C#. I hope to be a CODING BALLER by the end of it. :)
    </p>
    <br /><br />
    <section>
        <h4>Top 3 jobs I'm most interested in pursuing after graduation:</h4>
        <ol>
            <li>1. Data Analyst</li>
            <li>2. Data Engineer</li>
            <li>3. Software Developer</li>
        </ol>
    </section>
    <br /><br />
</body>
</html>


